{% extends "base.html" %}

<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

{% block title %} Dashboard {% endblock %}

{% block content %}

{% if (events == []) %}
<h1> We are sorry, but there are no events for this location </h1>

{% else %}
<h1> Here are some events in the area: </h1>
<center>
<!--create card for each event-->
{% for e in events %}
<div class = "card border-success" style="width:400px">
  <div class = "card-body">
    <img class="card-img-top" src="{{e["images"][0]["url"]}}" style="width:300px;height:200px;"><br>
    <a href="{{e["url"]}}">{{e["name"]}}</a><br>
    Date: {{e["dates"]["start"]["localDate"]}}<br>
    <!--<form action="/something">
      <button type="button" onclick="alert('Event Added!')">Add Event</button>
    </form>-->
  </div>
</div><br>
{%endfor%}
</center>
{% endif %}

{% endblock %}
