{% extends "base.html" %}

<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

{% block title %} Dashboard {% endblock %}

{% block content %}
<h1>Welcome, {{username}}, this is your dashboard:</h1><br>


{% for i in myEvents %}
<div class = "card border-success" style="width:400px">
  <div class = "card-body">
    <img class="card-img-top" src="{{myEvents[i][0]}}" style="width:300px;height:200px;"><br>
    <a href="{{myEvents[i][1]}}"">{{myEvents[i][2]}}</a><br>
    Date: {{myEvents[i][3]}}<br>
  </div>
</div><br>
{%endfor%}

{% if noEvents %}
<h1> We are sorry, but there are no events for this location. Here are events from Yorkville: </h1>

{% else %}
<h1> Here are some events in the area: </h1>
{% endif %}

<center>
<!--create card for each event-->
{% for e in events %}
<div class = "card border-success" style="width:400px">
  <div class = "card-body">
    <img class="card-img-top" src="{{e['images'][0]['url']}}" style="width:300px;height:200px;"><br>
    <a href="{{e['url']}}"">{{e['name']}}</a><br>
    Date: {{e["dates"]["start"]["localDate"]}}<br>
    <form action="/dashboard", method="POST">
      <input type="submit" value="Add Event" name="add">
      <input type="hidden" value="{{e['id']}}" name="eventID">
      <input type="hidden" value="{{e["dates"]["start"]["localDate"]}}" name="eventDate">
    </form>
  </div>
</div><br>
{%endfor%}
</center>

{% endblock %}
