{% extends "base.html" %}


 {% block title %} Home {% endblock %}


{% block content %}

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

<h1> {{city}},{{state}} -- Current Location </h1>

<table class="table table-dark" style="width: 100%;">

  <thead>
    <tr>
      {% for item in weather %}

      {% if item == "hu" %}
      <th scope="col"> Humidity (%) </th>
      {% endif %}


      {% if item == "ts" %}
      <th scope="col"> Timestamp  </th>
      {% endif %}


      {% if item == "tp" %}
      <th scope="col"> Temperature (F) </th>
      {% endif %}


      {% if item == "pr" %}
      <th scope="col"> Pressure (hPa) </th>
      {% endif %}


      {% if item == "ic" %}
      <th scope="col"> Icon </th>
      {% endif %}


      {% if item == "wd" %}
      <th scope="col"> Wind Direction (degrees) </th>
      {% endif %}


      {% if item == "ws" %}
      <th scope="col"> Wind Speed (m/s) </th>
      {% endif %}

      {% endfor %}
    </tr>
  </thead>

  <tbody>
    <tr>
      {% for item in weather %}

      {% if item != "ic"  and item!= "tp" %}
      <td> {{weather.get(item)}} </td>
      {% endif %}

      {% if item == "tp" %}
      <td> {{weather.get(item) * (9/5) + 32}} </td>
      {% endif %}

      {% if item == "ic" %}
      <!-- If there isnt a night icon version use the day version -->
      {% if weather.get(item) == "03n" or weather.get(item) == "04n" or weather.get(item) == "09n" or weather.get(item) == "11n"
      or weather.get(item) == "13n" or weather.get(item) == "50n" %}
        <td><img src="https://airvisual.com/images/{{weather.get(item)[0:2] + "d"}}.png" height="30" width="30" alt="Weather"> </td>
      {% else %}
        <td><img src="https://airvisual.com/images/{{weather.get(item)}}.png" height="30" width="30" alt="Weather"> </td>
      {% endif %}

      {% endif %} <!-- Outer if -->

      {% endfor %}
    </tr>
  </tbody>
</table>

<!--{% for item in weather %}
<p> {{item}} - {{weather.get(item)}} </p>
{% endfor %}-->

<h3>News stories from your area:</h3>
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="newsList" role="tablist">
        {% for article in articles %}
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#{{article['source']['id']}}" role="tab">{{article['title']}}</a>
        {% endfor %}
      </div>
    </div>

    <div class="col-8">
      <div class="tab-content">
        {% for article in articles %}
        <div class="tab-pane" id="{{article['source']['id']}}" role="tabpanel">
          <a href="{{article['url']}}"><h2>{{article['title']}}</h2></a>
          <img src="{{article['urlToImage']}}"  onerror="this.onerror=null;this.src='{{url_for('static', filename='img/jeffrey1.jpg')}}';" style="height: 450px; width: 600px;"></img>
          <p>{{article['description']}}</p>
          <h3>{{article['author']}}: <small>{{article['content']}}</small></h3>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

  <script>
  $(function () {
    $('#newsList a:last-child').tab('show')
  })
  </script>
